{% extends 'base/base.html' %} 
{% load static %}
{{% block content %}
<h2>Collected Items</h2>
<ul>
    {% for item in collected_items %}
        <li>
            Medicine: {{ item.medicine.name }} <br>
            User: {{ item.user.username }} <br>
            Date: {{ item.date }} <br>
            Collected: {{ item.collected }} <br>
            Collected Approved: {{ item.collected_approved }} <br>
            {% if not item.collected_approved %}
                <form method="post" action="{% url 'approve_collected_item' item.id %}">
                    {% csrf_token %}
                    <button type="submit">Approve</button>
                </form>
            {% else %}
            Collected Approved By: {{ item.collected_approved_by }} <br> 
            {% endif %}

        </li>
    {% endfor %}
</ul>
{% endblock %}