{% extends 'base/base.html' %} 
{% load static %}
{% block content %}
    
<div class="container rounded">

  <div class="row justify-content-md-center">
    <div class="col col-lg-8">
      At Goudstuiver, we are dedicated to providing exceptional pharmaceutical care and personalized services to our valued customers. With our wide range of products, convenient online ordering, and knowledgeable staff, we aim to be your go-to destination for all your healthcare needs.
      <br>
      Whether you require prescription medications, over-the-counter remedies, or health supplements, our experienced pharmacists are here to assist you. We prioritize your well-being and offer additional services such as medication therapy management, vaccination services, and health screenings to support your overall health.
      <br>
      Explore our website to access informative health resources, stay updated with our health and wellness blog, and conveniently order your medications online. We strive to deliver quality products and ensure a seamless ordering experience with various delivery options available.
      <br>
      If you have any questions, our friendly customer support team is just a call, email, or chat message away. We value your feedback and suggestions to continuously improve our services and better meet your expectations.
      <br>
      Thank you for choosing Goudstuiver. Your health is our priority!
    </div>
  </div>
  <br>
  <img src="{% static 'base/images/Apotheek.jpg' %}" class="rounded img-fluid">
  <p> Our company's finest - Dirk Jan</p>
</div>
  


{% endblock content %}