{% extends 'base/base.html' %} 
{% load static %}
{% block content %}
<div class="p-3">
    <h2>All Medicines</h2>
    <a href="{% url 'add_medicine' %}" class="link">Add Medicine</a>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Medicine</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            {% for medicine in medicines %}
        <tr>
            <td>{{ medicine.name }}</td>
            <td><a href="{% url 'update_medicine' medicine.id %}" class="link">Update</a></td>
            <td>
                <form method="post" action="{% url 'delete_medicine' medicine.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </td>
          </tr>
        {% empty %}
            <tr>
                <td> There are no Medicines</td>
            </tr>
           
        {% endfor %}
          
        </tbody>
    </table>
</div>
    
    
{% endblock %}  