{% extends 'base/base.html' %} 
{% load static %}
{% block content %}
    <h2>All Medicines</h2>
    <a href="{% url 'add_medicine' %}">Voeg medicijn toe</a>
    <ul>
        {% for medicine in medicines %}
            <li>
                {{ medicine.name }}
                <div>
                    <a href="{% url 'update_medicine' medicine.id %}">Update</a>
                    <form method="post" action="{% url 'delete_medicine' medicine.id %}">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </li>
        {% empty %}
            The medicine list is empty
        {% endfor %}
    </ul>
{% endblock %}  