{% load static %}

<nav class="navbar navbar-expand-lg bg-light" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item d-flex justify-content-center"><img src="{% static 'base/images/logo.png' %}" class="rounded float-start" alt="Logo"></li>
            {% if user.is_authenticated %}
            <li class="nav-item d-flex justify-content-center"><a href="{% url 'index' %}" class="navbar_link ">Home</a></li>
            <li class="nav-item d-flex justify-content-center"><a href="{% url 'profile' %}" class="navbar_link">Profile</a></li>
            <li class="nav-item d-flex justify-content-center"><a href="{% url 'personal_collections' %}" class="navbar_link">Personal Collections</a></li>
            {% if user.is_staff %}
            <li class="nav-item d-flex justify-content-center"><a href="{% url 'medicines' %}" class="navbar_link">Medicines</a></li>
            <li class="nav-item d-flex justify-content-center"><a href="{% url 'collections' %}" class="navbar_link">Collections</a></li>
            <li class="nav-item d-flex justify-content-center"><a href="{% url 'collected_items' %}" class="navbar_link">Collected Items</a></li>
            <li class="nav-item d-flex justify-content-center"><a href="{% url 'users_overview' %}" class="navbar_link">Users overview</a></li>
            {% endif %}
            <li class="nav-item float-end d-flex justify-content-center"><a href="{% url 'logout' %}" class="navbar_link">Logout</a></li>
            {% else %}
            <li class="nav-item float-end d-flex justify-content-center"><a href="{% url 'login' %}" class="navbar_link">Login</a></li>
            <li class="nav-item float-end d-flex justify-content-center"><a href="{% url 'register' %}" class="navbar_link">Register</a></li>
            {% endif %}
        </ul>
       
      </div>
    </div>
  </nav>
