{% extends 'base/base.html' %} 
{% load static %}
{% block content %}
<div class="p-3">
    <h2>My Collections</h2>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Medicine</th>
            <th scope="col">Date</th>
            <th scope="col">Collected</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
        <tr>
            <td>{{ collection.medicine.name }}</td>
            <td>{{ collection.user.username }}</td>
            <td>{{ collection.date }} </td>
            <td> 
                {% if not collection.collected %}
                    <form method="post" action="{% url 'collect' collection.id %}">
                        {% csrf_token %}
                        <button type="submit">Collect medicine</button>
                    </form>
                {% endif %}
            </td>
          </tr>
        {% empty %}
            <tr>
                <td> There are no collection actions</td>
            </tr>
           
        {% endfor %}
          
        </tbody>
    </table>
</div>
    
    
{% endblock %}