body {
    margin: 0;
}

.nav-container {
    background-color: aqua;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding-left: 1rem;

}

.nav-item {
    background-color: aqua;
    margin: 0.5rem;
}

img {
    margin: 0.5rem 0;
    height: 4rem;
}

a {
    color: crimson;
    font-style: italic;
    text-decoration: none;
    font-size: 2rem;
}

a:hover {
    color: darkgreen;
    text-decoration: underline;
}