body {
    margin: 0;
}

/* .nav-item {
    margin: 0.5rem;
} */

.navbar_link{
    color: black;
    text-decoration: none;
    padding: 1rem;
    text-align: center;
}

img {
    margin: 0.5rem 3rem, 0.5rem, 0rem;
    height: 3rem;
}
