body{
    background-color: #545454;
}

.messages{
    background-color: blue;
    padding: 1rem;
    margin: 1rem;
    width: 20rem;
    text-align: center;
    font-size: larger;
    color: white;
    border-radius: 1rem;
    border: 1px black solid;
}

.container{
    background-color: whitesmoke;
    padding: 0.5rem;
    text-align: center;
    margin-top: 0.5rem;
}

.img-thumbnail{
    margin: 0.5rem;
}