{% extends 'base/base.html' %}
{% block content %}
    <h1>Unapproved times</h1>
    {% for time in times %}
        {% csrf_token %}
        {{ form.as_p }}
        <strong>Distance: </strong> {{ time.distance.length }}<br>
        <strong>Time: </strong> {{ time.time_in_minutes }}<br>
        <strong>Date: </strong> {{ time.date }}<br>
        <strong>User: </strong> {{ time.user.get_username }}<br>
        <a href="{% url 'approve_time' time.pk %}">Approve</a>
        <a href="{% url 'deny_time' time.pk %}">Deny</a><br>
        <br>
    {% endfor %}
{% endblock content %}